<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Employee Information</h1>
    {% if employees %}
    <table border='2'>
      <thead>
        <th>Employee Number</th>
        <th>Employee Name</th>
      </thead>
      {%for emp in employees%}
      <tbody>
        <tr>
          <td>{{emp.eno}}</td>
          <td>{{emp.ename}}</td>
        </tr>
      </tbody>
      {%endfor%}
    </table>
    {%else%}
    <h1>No Employee Record found</h1>
  {%endif%}
  </body>
</html>
